@page "/regulation-manager"

<PageTitle>Regulation Manager</PageTitle>

<section class="page-shell">
    <h1>Regulations</h1>
    <p>System and facility rules will be editable here once ported.</p>
</section>
