@inherits LayoutComponentBase

<div class="app-shell">
    <Sidebar />

    <main class="app-content">
        <AppHeader />
        <div class="main-content">
            @Body
        </div>
    </main>
</div>
