<aside class="sidebar">
    <div class="sidebar__brand">
        <span class="sidebar__logo">SZ</span>
        <strong>SportZone</strong>
    </div>
    <nav class="sidebar__nav">
        <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink href="/field-list">Fields</NavLink>
        <NavLink href="/facility-manager">Facilities</NavLink>
        <NavLink href="/order-manager">Orders</NavLink>
        <NavLink href="/finance-manager">Finance</NavLink>
        <NavLink href="/users-manager">Admin</NavLink>
    </nav>
</aside>
